bioaccess-ws/src/main/resources/permission.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://vector/bioaccess/ws/auto-generated"
           targetNamespace="http://vector/bioaccess/ws/auto-generated" elementFormDefault="qualified">

    <xs:element name="getEntryPermissionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userid" type="xs:int"/>
                <xs:element name="controller" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEntryPermissionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="permission" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
   <!--  <xs:complexType name="permission">
        <xs:sequence>
            <xs:element name="isgranted" type="xs:boolean"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType> -->
    
</xs:schema>